<div class="col">
  <div class="card">
    <img src="assets/images/products/01.png" class="card-img-top" alt="...">
    <div class="">
      <div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">NIVEAU</span></div>
    </div>
    <div class="card-body">
      <h6 class="card-title cursor-pointer">Nom equipe</h6>
      <div class="clearfix">
        <p class="mb-0 float-start"><strong>8</strong> Projets</p>
        <p class="mb-0 float-end fw-bold"><span
            class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
      </div>
      <div class="d-flex align-items-center mt-3 fs-6">
        <div class="cursor-pointer">
          <i class='bx bxs-star text-warning'></i>
          <i class='bx bxs-star text-warning'></i>
          <i class='bx bxs-star text-warning'></i>
          <i class='bx bxs-star text-warning'></i>
          <i class='bx bxs-star text-secondary'></i>
        </div>
        <p class="mb-0 ms-auto">4.2(182)</p>
      </div>
    </div>
  </div>
</div>
