<div>
  <!--Edit Modal -->
  <div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Editer Contrat</h4>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="saveEdit(addForm)">
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Specialite :</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <select
                  [(ngModel)]="editContrat.specialite"
                  name="specialite"
                  class="form-control"
                >
                  <option value="CLOUD">CLOUD</option>
                  <option value="IA">IA</option>
                  <option value="RESEAUX">RESEAUX</option>
                  <option value="SECURITE">SECURITE</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Etudiant Id :</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input
                  type="number"
                  name="idEtudiant"
                  [(ngModel)]="editContrat.idContrat"
                  class="form-control"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Date debut :</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input
                  [(ngModel)]="editContrat.dateDebutContrat"
                  name="startDate"
                  type="Date"
                  class="form-control"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Date fin :</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input
                  [(ngModel)]="editContrat.dateFinContrat"
                  name="endDate"
                  type="Date"
                  class="form-control"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Archive :</h6>
              </div>
              <div class="col-sm-9">
                <input
                  name="archive"
                  [(ngModel)]="editContrat.archive"
                  type="checkbox"
                  class="form-check-input"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeEdit()">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="saveEdit(addForm)"
          >
            Save Changes
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- end Modal -->
  <!--Delete Modal -->
  <div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Contrat</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure to Delete this Contract ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-priamry" (click)="closeDelete()">
            Close
          </button>
          <button type="button" class="btn btn-danger" (click)="saveDelete()">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- end Modal -->
  <div class="card">
    <div class="card-body">
      <div class="d-lg-flex align-items-center mb-4 gap-3">
        <div class="position-relative">
          <input
            type="text"
            class="form-control ps-5 radius-30"
            placeholder="Chercher Contrat"
          />
          <span class="position-absolute top-50 product-show translate-middle-y"
            ><i class="bx bx-search"></i
          ></span>
        </div>
        <input
          type="button"
          class="btn btn-primary"
          (click)="sortByStartDate(contracts)"
          value="Sort"
        />
        <select
          class="btn btn-primary"
          (change)="filterByArchive(isArchived)"
          [(ngModel)]="isArchived"
        >
          <option value="all">All</option>
          <option value="false">Valide</option>
          <option value="true">Archived</option>
        </select>
      </div>
      <div class="table-responsive">
        <table class="table mb-0">
          <thead class="table-light">
            <tr>
              <th>Contrat Id</th>
              <th>Specialite</th>
              <th>Status</th>
              <th>Date debut</th>
              <th>Date Fin</th>
              <th>Etudiant Id</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let contract of filtredContracts">
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div>
                    <input
                      class="form-check-input me-3"
                      type="checkbox"
                      value=""
                      aria-label="..."
                    />
                  </div>
                  <div class="ms-2">
                    <h6 class="mb-0 font-14">#{{ contract.idContrat }}</h6>
                  </div>
                </div>
              </td>
              <td>{{ contract.specialite }}</td>
              <td>
                <div
                  *ngIf="!contract.archive"
                  class="badge rounded-pill text-success bg-light-success p-2 text-uppercase px-3"
                >
                  <i class="bx bxs-circle me-1"></i>Valide
                </div>
                <div
                  *ngIf="contract.archive"
                  class="badge rounded-pill text-danger bg-light-danger p-2 text-uppercase px-3"
                >
                  <i class="bx bxs-circle me-1"></i>Archive
                </div>
              </td>
              <td>{{ contract.dateDebutContrat }}</td>
              <td>{{ contract.dateFinContrat }}</td>
              <td>
                <div *ngIf="contract.etudiant">
                  #{{ contract.etudiant.idEtudiant }}
                </div>
                <div *ngIf="!contract.etudiant">
                  <input
                    [disabled]="contract.archive"
                    type="button"
                    class="btn btn-primary"
                    value="Affecter a Etudiant"
                  />
                </div>
              </td>
              <td>
                <div class="d-flex order-actions">
                  <a (click)="openEdit(contract)">
                    <i class="bx bxs-edit"></i>
                  </a>
                  <a (click)="openDelete(contract.idContrat)">
                    <i class="bx bxs-trash"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
