<div>
    <h1>{{title}} :</h1>
    <button type="button" class="btn btn-primary add-btn" [routerLink]="['/univDepart/depart/create/']">Ajouter {{title}}</button>
</div>

<div class="card">
    <div class="card-body">
        <table class="table table-bordered mb-0">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let depart of departs">
                    <th scope="row">{{depart.idDepartement}}</th>
                    <td>{{depart.nomDepartement}}</td>
                    <td>
                        <button type="button" class="btn btn-primary add-btn" [routerLink]="['/univDepart/depart/details/', depart.idDepartement]">Details</button>
                        <button type="button" class="btn btn-warning add-btn" [routerLink]="['/univDepart/depart/update/', depart.idDepartement]">Update</button>
                        <button type="button" class="btn btn-danger add-btn" (click)="deleteDepart(depart)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>