<form #f="ngForm">
    <div class="form-group col-md-6">
      <label>Nom Departement :</label>
      <input type="text" [(ngModel)]="depart.nomDepartement" placeholder={{depart.nomDepartement}} name="title" 
      class="form-control" required minlength="3"
       #t="ngModel" />
      <div class="alert alert-danger" *ngIf="t.invalid && t.touched">
          <div *ngIf="t.hasError('required')">this field is required</div>
          <div *ngIf="t.hasError('minlength')">minlength = 3!</div>
      </div>
    </div>
  
    <br>
    <button class="btn btn-success" (click)="updateDepart()"
    [disabled]="f.invalid">
      save
    </button>
    &nbsp;
    <button type="reset" class="btn btn-warning">
      reset
    </button>
  </form>
  