
<h6 class="mb-0 text-uppercase">{{ title }}</h6>
<hr />
<form #f="ngForm">
  <div class="card">
    <div class="card-body">

        <div class="mb-3">
          <label class="form-label">Nom :</label>
          <input type="text" class="form-control" [(ngModel)]="e.nomEntreprise"  
          name="nomEntreprise" required #nom="ngModel" minlength="2"/>
          <!-- <div class="alert alert-danger spacing" *ngIf="nom.invalid && nom.touched">
            <div *ngIf="nom.hasError('required')">this field is required</div>
            
          </div> -->
          <div class="alert alert-danger border-0 bg-danger alert-dismissible fade show py-2 spacing" *ngIf="nom.invalid && nom.touched">
            <div class="d-flex align-items-center">
              <div class="font-35 text-white"><i class='bx bxs-message-square-x'></i>
              </div>
              <div class="ms-3">
                <h6 class="mb-0 text-white">Error</h6>
                <div class="text-white" *ngIf="nom.hasError('required')">This field is required</div>
                <div class="text-white" *ngIf="nom.hasError('pattern')">Too short name</div>
              </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Adresse :</label>
          <input
            type="text" class="form-control"
              [(ngModel)]="e.addresseEntreprise" required name="addresseEntreprise" #adr = "ngModel"/>
              <div class="alert alert-danger border-0 bg-danger alert-dismissible fade show py-2 spacing" *ngIf="nom.invalid && adr.touched">
                <div class="d-flex align-items-center">
                  <div class="font-35 text-white"><i class='bx bxs-message-square-x'></i>
                  </div>
                  <div class="ms-3">
                    <h6 class="mb-0 text-white">Error</h6>
                    <div class="text-white" *ngIf="adr.hasError('required')">This field is required</div>
                  </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        </div>
        <!-- <div class="mb-3">
						<label class="form-label">Email :</label>
						<input type="email" class="form-control" placeholder="example@gmail.com">
					</div> -->
        <div class="mb-3">
          <label class="form-label">Numero :</label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="e.numeroEntreprise"
            name="numeroEntreprise"
            placeholder="+216"
            required
            pattern="(2|7|8|9)\d{7}"
            #num = "ngModel"
          />
          <div class="alert alert-danger border-0 bg-danger alert-dismissible fade show py-2 spacing" *ngIf="num.invalid && num.touched">
            <div class="d-flex align-items-center">
              <div class="font-35 text-white"><i class='bx bxs-message-square-x'></i>
              </div>
              <div class="ms-3">
                <h6 class="mb-0 text-white">Error</h6>
                <div class="text-white" *ngIf="num.hasError('required')">This field is required</div>
                <div class="text-white" *ngIf="num.hasError('pattern')">Number must start with 9-7-5-2</div>
              </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Secteur :</label>

          <select
            class="form-select mb-3" aria-label="Default select example" name="secteur"
              [(ngModel)]="e.secteur" required #sec="ngModel">
            <option value=""></option>
            <option value="Informatique">Informatique</option>
            <option value="Electronique">Electronique</option>
            <option value="Mecanique">Mecanique</option>
            <option value="Electromecanique">Electromecanique</option>
            <option value="GenieCivil">GenieCivil</option>
          </select>
          <div class="alert alert-danger border-0 bg-danger alert-dismissible fade show py-2 spacing" *ngIf="sec.invalid && sec.touched">
            <div class="d-flex align-items-center">
              <div class="font-35 text-white"><i class='bx bxs-message-square-x'></i>
              </div>
              <div class="ms-3">
                <h6 class="mb-0 text-white">Error</h6>
                <div class="text-white" *ngIf="sec.hasError('required')">This field is required</div>

              </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>

        <!-- <div class="mb-3">
						<label class="form-label">Logo :</label>
						<input type="file" disabled class="form-control">
					</div> -->

        <!-- <div class="mb-3">
          <label class="form-label">Url :</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="e.url"
            name="URL"
            placeholder="https://example.com/users/"
          />
        </div> -->

        <div class="row row-cols-auto g-3">
          <div class="col">
            <button
              class="btn btn-success px-5" 
              (click)="saveEntreprise()" [disabled]="f.invalid"
              >
              Save
            </button>
            
          </div>

          <div class="col">
            <button type="reset" class="btn btn-warning px-5">Reset</button>
          </div>
          <div class="w-100 border-top"></div>
          <div class="col"></div>
        </div>
    </div>
  </div>
</form>
