<div>
    <h1>Encadrant:</h1>
</div>

<div class="card">
    <div class="card-body">
        <table class="table table-bordered mb-0">
            <thead>
                <tr>
                    <td scope="col">Id : {{encadrant.idEncadrant}}</td>
                </tr>
            </thead>
            <tbody >
                <tr>
                    <td scope="col">Nom : {{encadrant.nomEncadrant}}</td>
                </tr>
                <tr>
                    <td scope="col">Date Embauche : {{encadrant.dateEmbauche  | date:'d/M/y'}}</td>
                </tr>
                <tr>
                    <td> Actions :
                        <button type="button" class="btn btn-warning add-btn" [routerLink]="['/encadrant/update', encadrant.idEncadrant]">Update</button>
                        <button type="button" class="btn btn-danger add-btn" (click)="removeEncadrant()">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-primary add-btn" (click)="returnHome()">Return Home</button>
</div>