
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h5 class="mb-0">Details</h5>
    </div>
    <hr/>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Projet</th>
          <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>id du projet</td>
          <td>{{projet.idProjet}}</td>
        </tr>
        <tr>
          <td>Title</td>
          <td>{{projet.description}}</td>
        </tr>
        <tr>
          <td>Nom du l entreprise</td>
          <td>{{projet.entrepriseP.nomEntreprise}}</td>
        </tr>
        <tr>
          <td>Nom Equipe</td>
          <td>{{projet.equipe.nomEquipe}}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>{{projet.status}}</td>
        </tr>
        <tr>
          <td>Prix</td>
          <td>{{projet.prixProjet}}$</td>
        </tr>
        <tr>
          <td>Date de Debut</td>
          <td>{{projet.dateDebutProjet}}</td>
        </tr>
        <tr>
          <td>Date Fin</td>
          <td>{{projet.dateFinProjet}}</td>
        </tr>
        <tr>
          <td>Review</td>
          <td>{{projet.review}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
