<div class="col">
  <div class="card radius-10 ">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <div>
          <p class="mb-0">Total Users</p>
          <h5 class="mb-0">85,028</h5>
        </div>
        <div class="dropdown ms-auto">
          <div class="dropdown-toggle dropdown-toggle-nocaret cursor-pointer" data-bs-toggle="dropdown"> <i
              class='bx bx-dots-horizontal-rounded font-22'></i>
          </div>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" (click)="$event.preventDefault()">Action</a>
            </li>
            <li><a class="dropdown-item" href="#" (click)="$event.preventDefault()">Another action</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#" (click)="$event.preventDefault()">Something else here</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="" id="w-chart1"></div>
    </div>
  </div>
</div>
