<div class="card">
    <div class="card-body">
        <div class="p-4 border rounded">
            <form class="was-validated" [formGroup]="equipeForm" (ngSubmit)="submitForm()">
                <div class="mb-3">
                    <label for="validationTextarea" class="form-label">Nom d'Equipe</label>
                    <input type="text" formControlName="nomEquipe" class="form-control" maxlength="6"
                        placeholder="Enter Equipe name" required>
                    <div class="invalid-feedback">Entrer un nom pour l'equipe.</div>
                </div>
                <!-- <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
                    <label class="form-check-label" for="validationFormCheck1">Check this checkbox</label>
                    <div class="invalid-feedback">Example invalid feedback text</div>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="validationFormCheck2" name="radio-stacked"
                        required>
                    <label class="form-check-label" for="validationFormCheck2">Toggle this radio</label>
                </div>
                <div class="form-check mb-3">
                    <input type="radio" class="form-check-input" id="validationFormCheck3" name="radio-stacked"
                        required>
                    <label class="form-check-label" for="validationFormCheck3">Or toggle this other
                        radio</label>
                    <div class="invalid-feedback">More example invalid feedback text</div>
                </div> -->
                <div class="mb-3">
                    <select class="form-select" formControlName="niveau" required aria-label="select Niveau">
                        <option value="">Open this select menu</option>
                        <option value="JUNIOR">Junior</option>
                        <option value="SENIOR">Senior</option>
                        <option value="EXPERT">Expert</option>
                    </select>
                    <div class="invalid-feedback">Selectionner un niveau</div>
                </div>
                <!-- <div class="mb-3">
                    <input type="file" formControlName="photos" class="form-control" aria-label="file example" required>
                    <div class="invalid-feedback"></div>
                </div> -->
                <div class="mb-3">
                    <label for="formFile" class="form-label">Selectionner une photo pour l'equipe</label>
                    <input class="form-control" type="file" id="formFile" formControlName="photos">

                </div>

                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">{{action}} Equipe</button>
                </div>
            </form>
        </div>
    </div>
</div>
