<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
	<div class="breadcrumb-title pe-3">Charts</div>
	<div class="ps-3">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0 p-0">
				<li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i class="bx bx-home-alt"></i></a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Highcharts</li>
			</ol>
		</nav>
	</div>
	<div class="ms-auto">
		<div class="btn-group">
			<button type="button" class="btn btn-primary">Settings</button>
			<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
			</button>
			<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="#" (click)="$event.preventDefault()">Action</a>
				<a class="dropdown-item" href="#" (click)="$event.preventDefault()">Another action</a>
				<a class="dropdown-item" href="#" (click)="$event.preventDefault()">Something else here</a>
				<div class="dropdown-divider"></div>	<a class="dropdown-item" href="#" (click)="$event.preventDefault()">Separated link</a>
			</div>
		</div>
	</div>
</div>
<!--end breadcrumb-->
<div class="row">
	<div class="col-xl-9 mx-auto">
		<div class="card">
			<div class="card-body">
				<highcharts-chart style="display: block;" [Highcharts]="Highcharts1" [options]="chartOptions1"></highcharts-chart>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<highcharts-chart style="display: block;" [Highcharts]="Highcharts2" [options]="chartOptions2"></highcharts-chart>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<highcharts-chart style="display: block;" [Highcharts]="Highcharts3" [options]="chartOptions3"></highcharts-chart>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<highcharts-chart style="display: block;" [Highcharts]="Highcharts4" [options]="chartOptions4"></highcharts-chart>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<highcharts-chart style="display: block;" [Highcharts]="Highcharts4" [options]="chartOptions4"></highcharts-chart>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<highcharts-chart style="display: block;" [Highcharts]="Highcharts6" [options]="chartOptions6"></highcharts-chart>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<highcharts-chart style="display: block;" [Highcharts]="Highcharts7" [options]="chartOptions7"></highcharts-chart>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<highcharts-chart style="display: block;" [Highcharts]="Highcharts8" [options]="chartOptions8"></highcharts-chart>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<highcharts-chart style="display: block;" [Highcharts]="Highcharts9" [options]="chartOptions9"></highcharts-chart>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<highcharts-chart style="display: block;" [Highcharts]="Highcharts10" [options]="chartOptions10"></highcharts-chart>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<highcharts-chart style="display: block;" [Highcharts]="Highcharts11" [options]="chartOptions11"></highcharts-chart>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<highcharts-chart style="display: block;" [Highcharts]="Highcharts12" [options]="chartOptions12"></highcharts-chart>
			</div>
		</div>
	</div>
</div>
<!--end row-->